.active_background_color{
	box-shadow: rgb(0, 0, 0) 1px 2px 20px 3px;
	box-shadow:  0 0 20px 4px o-color(o-color-1);
}
.css_cls_img_class img{
	width: 100%;
	height:100%;
	object-fit: cover;
}
.js_cls_subscription_plans_wrapper .product_price{margin-bottom: 1rem !important;}
.js_cls_subscription_plans_wrapper .product_price h3{margin-bottom:0;}
.js_cls_subscription_plans_wrapper .li_disc p ,span{width: 100%;overflow-wrap: anywhere;}